test_folder/
test_folder2/

Segmentation_py/.git_old
Segmentation_py/.gitignore_old
Segmentation_py/test_image/
Segmentation_py/__pycache__/

File_mornitoring/test_folder/

Octoprint_API/.git_old

#This is the temporary file for powerpoint
Yolov1/Documentation/~$Yolov1_implementation.pptx